<!DOCTYPE html>
<html lang="de">
<head>
{% block head %}
    <meta charset="utf-8" />
    <title>{{ title }}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Events for a better society in Reykjavik">
    <meta name="keywords" content="Veranstaltungen,Workshops,Vorträge,Upcycle,Nachhaltigkeit,Aktivismus,activism,events,Reykjavik,sustainability">

    <meta property="og:image" content="{{ og.image|default('https://flukx.uber.space/logo_share.png') }}"/>
    <meta property="og:title" content="{{ og.title|default('flukx.uber.space') }}"/>
    <meta property="og:description" content="{{ og.description|default('events for a better society in Reykjavik') }}"/>
    <meta property="og:url" content="{{ og.url|default('https://flukx.uber.space') }}"/>
    <meta property="og:site_name" content="flukx.uber.space"/>
    <meta property="og:type" content="website"/>

    {# {% include 'partials/metadata.html.twig' %} #}
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="icon" type="image/png" href="/favicon.png"/>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
    {# <link rel="canonical" href="{{ page.url(true, true) }}" /> #}
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/index.css">


{% endblock head %}
</head>
<body>
    <div class="container grid-md">
        <div id="header">
            <a href="/"><img src="/logo_white.svg" /></a>
        </div>
        {% block content %}{% endblock %}
    </div>
</body>
</html>
