<div class="header columns">
    <div class="col-2"></div>
    <div class="col-10">
        {% if day|isToday %}
            <strong>today</strong> <small>{{ day|dayName }}, {{ day|date('d.m.')}}</small>
        {% elseif day|isTomorrow %}
            <strong>tomorrow</strong> <small>{{ day|dayName }}, {{ day|date('d.m.')}}</small>
        {% else %}
            <strong>{{ day|dayName }} </strong> <small>{{ day|date('d.m.')}}</small>
        {% endif %}
    </div>
</div>