<div class="infobox">
    <div class="content">
        <a href="{{ browseLink }}">browse</a>.</br>
        <a href="/gruppen.html">groups</a>.</br>
        <a href="/info.html">about trichter</a>.</br>
        {# <a href="/panel/">eintragen</a>. </br> #}
        <a href="https://gitlab.com/trichter">open source</a>. </br>
        {# <a href="#impressum">impressum</a>. </br> #}
        <a href="/info.html#contact">contakt</a>.</br>
        <small>made with <span style="color: #dd3333">♥</span> </small>
    </div>
</div>
