{% set events = eventsByDate[day] %}
{% set regular = events|filterEvents('regular') %}
{% set recurring = events|filterEvents('recurring') %}

<div class="day">
    <a name="day-{{ day|day}}"></a>
    {% include "day-header.twig" %}
    <ul>
        {% for event in regular %}
            <li>{% include "list-element.twig" %}</li>
        {% endfor %}
        {% if recurring|length and regular|length %}
            <div class="subheader columns">
                <div class="col-2"></div>
                <div class="col-10">Reoccuring events</div>
            </div>
        {% endif %}
        {% for event in recurring %}
            <li>{% include "list-element.twig" with {'dense': true} %}</li>
        {% endfor %}
    </ul>
</div>